<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer" th:remove="tag">

  <div th:replace="fragments/title-notifier :: title-notifier"></div>

  <!-- jQuery -->
  <script src="//cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="//cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.js"
          th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="//cdn.jsdelivr.net/webjars/metisMenu/1.1.3/metisMenu.min.js"
          th:src="@{/webjars/metisMenu/1.1.3/metisMenu.min.js}"></script>

  <!-- SB Admin2 Theme JavaScript -->
  <script src="//cdn.jsdelivr.net/webjars/startbootstrap-sb-admin-2/1.0.8/js/sb-admin-2.js"
          th:src="@{/webjars/startbootstrap-sb-admin-2/1.0.8/js/sb-admin-2.js}"></script>

  <script src="//npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"
          th:src="@{/webjars/imagesloaded/4.1.0/imagesloaded.pkgd.min.js}"></script>

  <!-- Custom Surveillance Center JavaScript -->
  <script src="../static/js/sc.js" th:src="@{/js/sc.js}"></script>
</div>

</body>
</html>
