<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Surveillance Center</title>

  <!-- Bootstrap Core CSS -->
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

  <!-- MetisMenu CSS -->
  <link href="http://cdn.jsdelivr.net/webjars/metisMenu/1.1.3/metisMenu.min.css"
        th:href="@{/webjars/metisMenu/1.1.3/metisMenu.min.css}" rel="stylesheet"/>

  <!-- SB Admin2 Bootstrap Theme CSS -->
  <link href="http://cdn.jsdelivr.net/webjars/startbootstrap-sb-admin-2/1.0.8/css/sb-admin-2.css"
        th:href="@{/webjars/startbootstrap-sb-admin-2/1.0.8/css/sb-admin-2.css}" rel="stylesheet"/>

  <!-- Custom Surveillance Center CSS -->
  <link href="../static/css/sc.css" th:href="@{/css/sc.css}" rel="stylesheet"/>

  <!-- Font Awesome -->
  <link href="http://cdn.jsdelivr.net/webjars/font-awesome/4.2.0/css/font-awesome.min.css"
        th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>

</html>
