<div xmlns:th="http://www.thymeleaf.org" id="liveview-container" th:fragment="liveview-container">
  <div class="row margin-top-s">
    <div class="col-lg-6 col-md-6 col-xs-12" th:each="camera : ${cameras}">
      <a class="thumbnail" th:href="@{{liveviewUrl}/{camera}(liveviewUrl=${liveviewUrl},camera=${camera.id})}" href="#">
        <img class="img-responsive"
             th:src="@{{snapshotUrl}(snapshotUrl=${camera.snapshotUrl},t=${#temporals.format(#temporals.createNow(), 'yyyyMMddHHmmss')})}"
             src="http://placehold.it/150x200"/>
        <div class="caption">
          <div class="text-center" th:text="${camera.name}">Front door</div>
          <div class="text-center" th:text="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss')}">
            2016-11-06 10:59:33
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
