<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="row" th:fragment="archive-action">
  <div class="col-lg-12 margin-bottom-m">
    <form th:if="${showArchiveAction}" th:action="@{/recordings}" method="post" action="#">
      <input type="hidden" name="imageIds" th:value="${visibleImageIds}"/>
      <button type="submit" class="btn btn-primary" th:text="#{recordings.archive.action}">Archive recordings</button>
    </form>
  </div>
</div>
<!-- /.row -->

</body>
</html>
