<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="margin-bottom-m" th:fragment="push-notifications">
  <div id="settings-endpoint-configuration" th:attrappend="data-push-notification-settings-endpoint=@{/api/v1/push-notification-settings/},
                                                           data-archive-recordings-settings-endpoint=@{/api/v1/recordings}">
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4 th:text="#{settings.push-notifications.headline}">Push notifications</h4>
      <p th:text="#{settings.push-notifications.intro}">You can enable or disable push notifications for each camera here. If enabled, a push notification will be
        sent as soon as a new image is received via FTP.</p>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <div id="js-push-notification-settings-error" class="alert alert-danger collapse" role="alert">
        <button type="button" class="close" data-toggle="collapse" data-target="#js-push-notification-settings-error" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span th:text="#{settings.push-notifications.error}">An error occurred while saving push notification state.</span>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row margin-bottom-xs" th:each="setting : ${cameraPushNotificationSettings}">
    <div class="col-lg-2" th:text="${setting.camera.name}">Front door camera</div>
    <div class="col-lg-10">
      <div class="btn-group js-push-notification-settings-toggle"
           th:attrappend="data-enabled-status=${setting.pushNotificationSetting.enabled},
                          data-camera-id=${setting.camera.id}">
        <button class="btn btn-sm"
                th:classappend="${setting.pushNotificationSetting.enabled} ? 'btn-primary active' : 'btn-default'"
                th:text="#{setting.on}">ON</button>
        <button class="btn btn-sm"
                th:classappend="${!setting.pushNotificationSetting.enabled} ? 'btn-primary active' : 'btn-default'"
                th:text="#{setting.off}">OFF</button>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>

</body>
</html>