<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Oops an error occurred</title>

  <style>
    body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #333;
      margin: 0 auto;
      text-align: center;
    }
    h1 {
      margin: 20px 0 0 0;
      font-size: 96px;
      font-weight: 400;
    }
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
    }
    p {
      color: #647788;
      font-size: 14px;
    }
  </style>
</head>

<body>
  <h1 th:text="${status}">404</h1>
  <h3 th:text="${error}">Not found</h3>
  <p>
    There seems to be a problem with the page you requested: <span th:text="${path}">/error.html</span><br/>
    <span th:text="${message}">The page was either not found or does not exist.</span>
  </p>
</body>
</html>
