<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<div id="wrapper">

  <div th:replace="fragments/navigation :: navigation"></div>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{recordings.headline}">Recordings</h1>

        <div class="panel panel-default">
          <div class="panel-heading">
            <span th:text="#{recordings.count(${images.totalElements})}">269 recordings.</span>
            <span th:if="${mostRecentImageDate != null}"
                  th:text="#{recordings.mostrecent(${#temporals.format(mostRecentImageDate, 'yyyy-MM-dd HH:mm:ss')})}">Most recent: 2016-04-12 19:07:26</span>
          </div>
          <div class="panel-body">

            <div class="row">
              <div class="col-xs-6">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownCamera"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span th:text="${currentCameraName}">all cameras</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCamera">
                    <li th:class="${currentCameraId == null} ? 'disabled' : ''" class="disabled">
                      <a th:href="@{${baseUrl}(archive=${isArchive})}" th:text="#{cameras.all}" href="#">all cameras</a></li>
                    <li th:each="camera : ${cameras}" th:class="${camera.id == currentCameraId} ? 'disabled' : ''">
                      <a th:href="@{${baseUrl}(camera=${camera.id},archive=${isArchive})}"
                         th:text="${camera.name}"
                         href="#">Camera 1</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="dropdown text-right">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span th:if="${not isArchive}" th:text="#{recordings.new}">new recordings</span>
                    <span th:if="${isArchive}" th:text="#{recordings.archived}"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownFilter">
                    <li th:class="${not isArchive} ? 'disabled' : ''">
                      <a th:href="@{${baseUrl}(camera=${currentCameraId})}" th:text="#{recordings.new}" href="#">new recordings</a></li>
                    <li th:class="${isArchive} ? 'disabled' : ''">
                      <a th:href="@{${baseUrl}(camera=${currentCameraId},archive=true)}" th:text="#{recordings.archived}" href="#">archived recordings</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div th:replace="fragments/recordings-archive-action :: archive-action"></div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-6" th:each="image : ${images}">
        <a class="thumbnail" th:href="@{/images/{file}(file=${image.fileName})}" href="#">
          <img class="img-responsive" th:src="@{/images/{file}(file=${image.fileName})}" th:alt="${image.receivedAt}"
               src="http://placehold.it/150x200"/>
          <div class="caption text-center" th:text="${#temporals.format(image.receivedAt, 'yyyy-MM-dd HH:mm:ss')}">
            2016-01-01 00:00:00
          </div>
        </a>
      </div>
    </div>

    <div th:replace="fragments/recordings-archive-action :: archive-action"></div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="pagination"
            th:if="${images.totalPages > 1}">
          <li th:class="${images.number eq 0} ? 'disabled' : ''">
            <a th:if="${not images.first}"
               th:href="@{${baseUrl}(camera=${currentCameraId},archive=${isArchive},page=${images.number})}" href="#"
               aria-label="previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            <a th:if="${images.first}"
               th:href="@{${baseUrl}(camera=${currentCameraId},archive=${isArchive},page=${images.number+1})}" href="#"
               aria-label="previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li th:each="pageNo : ${#numbers.sequence(0, images.totalPages - 1)}"
              th:class="${images.number eq pageNo} ? 'active' : ''">
            <a th:href="@{${baseUrl}(camera=${currentCameraId},archive=${isArchive},page=${pageNo + 1})}">
              <span th:text="${pageNo + 1}"></span>
            </a>
          </li>

          <li th:class="${images.number + 1 ge images.totalPages} ? 'disabled' : ''">
            <a th:if="${not images.last}"
               th:href="@{${baseUrl}(camera=${currentCameraId},archive=${isArchive},page=${images.number + 2})}"
               href="#" aria-label="next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            <a th:if="${images.last}"
               th:href="@{${baseUrl}(camera=${currentCameraId},archive=${isArchive},page=${images.number + 1})}"
               href="#" aria-label="next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
